fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.6.3
sqlalchemy==2.0.29
python-dotenv==1.0.0
boto3==1.34.128
python-multipart==0.0.9
pytesseract==0.3.10
Pillow==10.2.0
pytest==8.2.2
pytest-asyncio==0.23.6
pydantic-settings==2.2.1
aiofiles==23.2.1
numpy==1.26.4
opencv-python-headless==4.9.0.80
PyMuPDF==1.24.1
scipy==1.12.0
scikit-learn==1.4.2
asyncpg==0.29.0
